/* 添加会议 */
.addMeeting-box{
  visibility: hidden;
  overflow: hidden;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  transition: all .5s;
}
.add-meeting{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  max-height: 0;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 30px #999;
  transition: all .5s;
}
.add-meeting-tb td{
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 35px;
  padding: 0 4px;
  margin: 15px 0;
  line-height: 35px;
  font-size: 20px;
  color: #515a53;
}
.add-meeting td:nth-child(2), .add-meeting td:nth-child(5){
  width: 230px;
  padding: 0;
}
.add-meeting td:nth-child(3){
  width: 50px;
}
.add-meeting td:nth-child(1), .add-meeting td:nth-child(4){
  text-align: justify;
}
.add-meeting td i{
  display: inline-block;
  width: 100%;
}
.add-meeting td input, .add-meeting td select, .add-meeting td textarea{
  box-sizing: border-box;
  width: 230px;
  height: 32px;
  padding: 0 4px;
  font-size: 20px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.add-meeting td input:valid, .add-meeting td select:valid, .add-meeting td textarea:valid{
  outline-style: auto !important;
  outline-color: green !important;
}
.add-meeting td button{
  padding: 0 5px;
  font-size: 18px;
  border: 1px solid;
}
.cancelBtn{
  background-color: #ececec;
}
.confirmBtn{
  background-color: green;
  color: white;
}
.add-meeting td button:hover{
  background-color: rgb(57, 153, 236);
  color: white;
  cursor: pointer;
}
/* 会议内容 */
.m-content td:nth-child(2){
  box-sizing: border-box;
  width: 84%;
  height: 120px;
}
#meeting-content{
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 18px;
  text-align: left;
  outline: none;
}
.add-meeting-title{
  width: 84% !important;
}
.add-meeting-title input{
  width: 100% !important;
}